.footer {
  background-color: #6278f7;
  width: 100%;
  text-align: center;
}
.social-icons {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

#organo-icon {
  padding-top: 3rem;
}

#facebook-icon {
}
